<h1 class="mb-4">Pothole Tracker</h1>

<%= link_to 'Report a New Pothole', new_pothole_path, class: 'btn btn-primary mb-4' %>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Address</th>
      <th>Size</th>
      <th>Description</th>
      <th>Status</th>
      <th>Reported By</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @potholes.each do |pothole| %>
      <tr>
        <td><%= pothole.address %></td>
        <td><%= pothole.size %></td>
        <td><%= pothole.description %></td>
        <td><%= pothole.status.capitalize %></td>
        <td><%= pothole.user.email %></td>
        <td>
          <%= link_to 'View', pothole_path(pothole), class: 'btn btn-secondary btn-sm' %>
          <%= link_to 'Edit', edit_pothole_path(pothole), class: 'btn btn-warning btn-sm' %>
          <%= link_to 'Delete', pothole_path(pothole),
                      method: :delete,
                      data: { confirm: 'Are you sure?' },
                      class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

