
<%= cl_image_tag @pothole.photo.key, height: 200, width: 200, crop: :fill %>
<%= @pothole.address %>
<%= @pothole.size %>
<%= @pothole.description %>
<%= @pothole.status %>
<%= link_to "Delete",
  pothole_path(@pothole),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<%= link_to 'Edit', edit_pothole_path(@pothole), class: 'btn btn-warning' %>
<%= link_to 'Back to List', potholes_path, class: 'btn btn-secondary' %>

<h2>Comments</h2>

<%= simple_form_for([@pothole, Comment.new]) do |f| %>
  <div>
    <%= f.input :content, label: "Add a comment", as: :text, input_html: { rows: 3 } %>
  </div>
  <div>
    <%= f.button :submit, "Post Comment" %>
  </div>
<% end %>

<ul>
  <% @pothole.comments.each do |comment| %>
    <li>
      <strong><%= comment.user.username %>:</strong> <%= comment.content %>
      <%= link_to "Delete", pothole_comment_path(@pothole, comment), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>
